# =============== #
# Unity generated #
# =============== #
/Temp/
/Obj/
/Builds
/Library/
/Jenny/
sysinfo.txt
/meteor/
/.vs/
[Aa]ssets/*/*
[Aa]ssets/Sun_for_5/
[Aa]ssets/Rocks and Boulders 2.meta
![Aa]ssets/ApheliaGames/*
![Aa]ssets/Terraformer/*
![Aa]ssets/TFprefabs/*
![Aa]ssets/TFanimations/*
![Aa]ssets/Resources/*
![Aa]ssets/scripts/*
![Aa]ssets/Scenes/*
![Aa]ssets/TechTree/*
![Aa]ssets/GFX/*
![Aa]ssets/Backend/*
[Aa]ssets/Resources/stars/
![Aa]ssets/Bearded Man Studios Inc/*
![Aa]ssets/Meteor-Unity/*
![Aa]ssets/Text Typing Tool/*
![Aa]ssets/FORGE3D/Sci-Fi Effects/Code/*
![Aa]ssets/RTSUnitControl/*


#Allet Jut Jetzte
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
