# =============== #
# Unity generated #
# =============== #
/Temp/
/Obj/
/Builds
/Library/
/Jenny/
sysinfo.txt
/meteor/
/.vs/


#Allet Jut Jetzte
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
